<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Homepage</h3>
      </div>
      <div class="panel-body">
        <p>This is a blank template for a standard page render within the CMS.</p>
        
        
        <p>Here is some dynamic content: </p>
        
        {{{content}}}
        
        
      </div>
    </div>
  </div>
</div>
