{{!--
@desc Single line password field
@desc JS field type, contains hbs export and preDisplay and prePost functions
@example password: {type: "password", title: "Password"}
--}}


<div class="row">
  <div class="col-sm-6">
    <input type="password" style="display:none"> {{! hack to stop some browsers auto-completing when empty}}
    <input type="password" class="form-control" name="{{field}}" id="{{id}}" placeholder="Enter {{field}}" value="{{value}}" autocomplete="off"/>
  </div>
  <label class="col-sm-6 control-label pull-left">leave blank unless changing</label>
</div>
